# --- Database ---'
DB_HOST=xxxxxxxxxx
DB_NAME=xxxxxxxxxx
GREEN_DB_USER=xxxxxxxxxx
GREEN_DB_PASS=xxxxxxxxxx
DB_ROOT_PASSWORD=xxxxxxxxxx
DB_DOCKER_PORT=xxxxx
DB_HOST_PORT=xxxxx

# --- API & Frontend ---
# Flask
API_PORT=xxxxx
GREEN_API_PORT=xxxxx
BIND_HOST=x.x.x.x
COLLECTOR_PORT=xxxxx
# --- React  ---
REACT_APP_GREEN_API_URL=http://xxxxxxxxxx:xxxxx

# --- Cl1p ---
LOCATION="xxxxx"
CL1P_TOKEN=xxxxx
CL1P_URL=https://api.cl1p.net/xxxxx